<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h1> Wlecome to Odin-Facebook., <%= @user.name %></h1>
    </body>
    <p>
        You have successfully signed up to example.com,
        using the following email: <%= @user.email %>
        <br>
    </p>
    <p>
        Thank you so much for joining.  Enjoy!
    </p>
</html>